.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 2rem 5rem;
  background-color: var(--header-bg);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-nav__logo {
  max-width: fit-content;
}

.main-nav__logo:hover .logo__name {
  color: var(--light-blue-100);
  transition: color 0.3s ease-in;
}
